.ipynb_checkpoints/
**/trash/
data*/
*.Rmd
*.rmd
*.swp
*.vim
INPUT*.md
run*.sh
torch_pdegraph/__pycache__/
torch_pdegraph/operators/__pycache__/
torch_pdegraph/pdes/__pycache__/
*.pyc
/dist/
/*.egg-info
/*.egg
/build/
requirements.txt
